<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<ol>
  <% @reviews.each do |r| %>
    <li>
      <%= 'â­' * r.rating %>
      <br>
      <%= r.content %>
    </li>
  <% end %>
</ol>

<div>
  <%= link_to "Back to restaurants", restaurants_path %>

  <%= link_to "Add a Review", new_restaurant_review_path(@restaurant) %>
</div>
